
html {
  background-color: #E6E6E6;
}


#HexCanvas {
    position:absolute;
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    background-color: black;
}
.carousel-indicators .active {
    background-color: green;
}
td {
    padding:0 5px 0 5px;
}
.modal-dialog {
    z-index: 1001;
}
.overlayModal {
    text-align:center;
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}
.modal-backdrop {
    z-index: 1000;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
}


/*
input {
  height: 30%;
  width: 200%;
  size: "200";
}

p {
  font-size: large;
}

button {
  height: 130%;
  width: 240%;
  font-size: 200%;
  background-color: #f00;
  color: #0f0;
}
*/